$primary:rgb(225, 12, 207);

.hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.nav-link {
	position: relative;
	color: $primary;
	cursor: pointer;
	line-height: 1;
	text-decoration: none;

}
.nav-link:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: $primary;
	content: "";
	transition: width 0.3s ease-out;
}

.nav-link:hover:after,
.nav-link:focus:after {
	width: 100%;
}